<!DOCTYPE html>
<html>
<head>
  <title>Recuperação de Senha</title>
</head>
<body style="background: #393939; color: white; padding: 20px;">
  <h1 style="padding: 20px; background-color: #FB7445; color: white;">Recuperação de Senha</h1>
  <p style="font-size: 17px;">Olá, {{name}}!</p>
  <p style="font-size: 17px;">Aqui está seu codigo para recuperação de senha: </p>
  <p style="font-size: 30px; font-weight: bolder; background-color: #FFFFFF; color: #393939; padding: 10px;">{{code}}</p>
</body>
</html>